# Adatbetöltés és feldolgozás
biopython==1.83
feedparser==6.0.10
pydantic==2.5.2

# Adattárolás
pyarrow==14.0.1
pandas==2.1.4
deta==1.2.0  # Deta Space SDK

# Naplózás és hibakezelés
python-json-logger==2.0.7

# Ütemezés
celery==5.3.6
redis==5.0.1  # Celery backend
apscheduler==3.10.4  # Ingyenes alternatíva Celery helyett

# E-mail küldés
boto3==1.34.14  # AWS SES
postmarker==1.0  # Postmark
aiosmtpd==1.4.4  # Ingyenes SMTP szerver teszteléshez

# Tesztelés
pytest==7.4.3
pytest-cov==4.1.0 